In [ ]:
%load_ext sql

In [ ]:
%sql postgresql://swg@localhost/cse2003

# Data Definition Language (DDL)

Simple SQL queries for DDL.

Create a table for storing student records.

In [ ]:
%%sql
CREATE TABLE students (enrollnum NUMERIC(12) PRIMARY KEY, name VARCHAR(30), email VARCHAR(50), phone NUMERIC(10));

Equivalent of DESCRIBE <table_name>; for a pre-created table.

In [ ]:
%%sql
SELECT column_name, data_type, character_maximum_length FROM information_schema.COLUMNS WHERE TABLE_NAME = 'students';

Create another table for storing courses data.

In [ ]:
%%sql
CREATE TABLE courses (code VARCHAR(7), website VARCHAR(250), programme VARCHAR(10));

Delete the entire table of courses.

In [ ]:
%%sql
DROP TABLE courses;

## Data Manipulation Language
Simple SQL queries for performing CRUD operations inside database tables.

| Initial | Operation | SQL Keyword |
| --- | --- | --- |
| C | Create | INSERT |
| R | Read | SELECT |
| U | Update | UPDATE |
| D | Delete | DELETE |

In [ ]:
%%sql
INSERT INTO students (enrollnum, name, email, phone) VALUES 
(170020203040, 'Swarup Ghosh', 'xyz@api.gitter.net', 9830033762);

In [ ]:
%%sql
SELECT * FROM students;

In [ ]:
%%sql
INSERT INTO students (enrollnum, name, email, phone) VALUES 
(1001, 'Student A', 'studentA@gdgu.org', 9009009009);

In [ ]:
%%sql
INSERT INTO students (enrollnum, name, email, phone) VALUES 
(1002, 'Student A', 'studentA@gdgu.org', 9009009009), 
(1003, 'Student B', 'studentB@gdgu.org', 9009009001);

In [ ]:
%%sql
SELECT * FROM students;

In [ ]:
%%sql
UPDATE students SET enrollnum = (enrollnum - 1000 + 170020203040) WHERE enrollnum < 1050;

In [ ]:
%%sql
SELECT * FROM students;